div.voteReport{
	background-color:#EEEEEE;
	border:1px solid #CCCCCC;
	padding: 3px;
	right: 20px;
	top: 20px;
	position: absolute;
	text-align:center;
}

.votingReport{
	text-align: right;
}

div.commentBlogView
{
	display:block;
	text-align: right;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-top: 4px;
  	margin-bottom: 4px;
	clear:both;
}

div.commentTools{
	border-bottom:1px solid #BCBCBC;
	height:18px;
}


/* IE 6 Compatibility mode */
.show-comment, .show-linkmore, .show-hit, .jctools,
.show-feed, .show-report, .show-voteup, .show-votedown{
	display:inline;
	float:right;
	height:18px;
	text-indent: 24px;
	margin-left: 4px;
	margin-right: 4px;
	background-repeat:no-repeat;
	background-position: 0 50%;
}

div.commentBlogView > div.show-comment, 
div.commentBlogView > div.show-linkmore, 
div.commentBlogView > div.show-hit, 
div.jctools, div.show-feed, div.show-report, 
div.show-voteup, div.show-votedown{
	display:inline;
	float:right;
	height:18px;
	text-indent: 24px;
	margin-left: 4px;
	margin-right: 4px;
	background-repeat:no-repeat;
	background-position: 0 50%;
}



div.show-result{
	display: none;
	float:right;
	height:18px;
	text-indent: 24px;
	margin-left: 4px;
	margin-right: 4px;
}


/* For IE Only */
div.show-comment {
	background: transparent url(images/toolbar.gif) no-repeat 0 -71px;
}

div.show-linkmore {
	background: transparent url(images/toolbar.gif) no-repeat 0 -90px;
}

div.show-hit {
	background: transparent url(images/toolbar.gif) no-repeat 0 -35px;
}

/* More specific rule for other browser */
div.commentBlogView > div.show-comment {
	background: transparent url(images/toolbar.gif) no-repeat 0 -71px;
}

div.commentBlogView > div.show-linkmore {
	background: transparent url(images/toolbar.gif) no-repeat 0 -90px;
}
div.commentBlogView > div.show-hit{
	background: transparent url(images/toolbar.gif) no-repeat 0 -35px;
}
div.show-feed {
	width: 18px;
	background-image:none;
}
div.jcfav {
	background: transparent url(images/toolbar.gif) no-repeat 0 -54px;
}
div.jcshare {
	background: transparent url(images/toolbar.gif) no-repeat 0 1px;
}
div.jcemail {
	background: transparent url(images/toolbar.gif) no-repeat 0 -16px;
}
div.jcpreview {
	background: transparent url(images/toolbar.gif) no-repeat -18px -36px;
}

.jomentry1, .jomentry2 , #jc_commentFormDiv
{
	border-bottom: 1px solid #ddd;
	padding: 8px 4px 0 4px;
	background-repeat:repeat-x;
	background-position:top;
}

.jomentry1 blockquote,
.jomentry2 blockquote,
.jomauthor blockquote
{
	padding: 10px auto 10px auto;
	margin: 10px 10px 10px 10px !important;
	margin: 5px 5px -5px 5px;
	width: 94%;
	border-left: 5px solid #ddd;
	font-size: 1em;
	float: left;
}

.jomentry1
{		
	color:#000000;
    background-color: #f2f2f2;
    background-image:url(images/topshade1.gif);
}
.jomentry2 , #jc_commentFormDiv
{
		color:#000000;
    background-color: #FFFFF2;
    background-image:url(images/topshade2.gif);
}
.jomauthor
{
	color:inherit;
    background-color: #F5F5C1;
    border-bottom: 1px solid #FFDE00;
    background-image:none;
}

#jc_commentsDiv blockquote
{
	color: #747474;
	background-color:inherit;
	/*padding-left: 30px;*/
}

#write_comment_title
{
	margin-top:14px;
}

.avatarImg
{
	float: right;
	padding: 2px;
}

.avatarImg img
{
	border:1px solid #ddd
}

#jc_name, #jc_website, #jc_email, #jc_title, #jc_comment, #jc_password
{
	width: 98%;
	padding: 4px;
	margin: 0ex;
}

#jc_name, #jc_website, #jc_email, #jc_password
{
	width: 50%;
}

#jc_commentForm
{
    padding-top: 2px;
    padding-bottom: 6px;
}


#jc_commentForm label
{
    font-weight:bold;
    padding-top: 6px;
    padding-bottom: 4px;
    display: block;
}

#jc_commentForm button, #jc_captchaImg
{
    margin-top: 6px;
    margin-bottom: 4px;
}

/* Trackbacks */
#trackback_link, .feed_link
{
	height:16px;
	vertical-align:middle;
	text-align:left;
	cursor:pointer;
	font-size:90%;
}

#trackback_link a, .feed_link a
{
	border-bottom:dashed 1px #CACACA;
}

#trackback_link img, .feed_link img
{
	vertical-align:middle;
	padding-right:2px;
	padding-left:2px;
}

#write_comment_heading
{
	margin-top:20px;
	margin-bottom:30px;
}

.comment_action{
	background-color:#EEEEEE;
	border-color:#CCCCCC rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204);
	border-style:solid;
	border-width:1px;
	color:#333333;
	display:-moz-inline-box;
	font-family:Tahoma,Arial,Helvetica;
	font-size:100%;
	margin:1px;
	vertical-align:middle;
	white-space:nowrap;
	position:absolute;
	right:0px;
	top:0px;
}

#jc_commentForm label.subscribe, #jc_commentForm label.agree {
	font-style:normal;
	font-weight:normal;
}


#jc_commentsDiv .jc_comment_panel {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 25px;
}
#jc_commentsDiv .jc_comment_panel li {
	list-style: none;
	float: right;
	background: none;
	padding: 0;
	margin: 0;
}
#jc_commentsDiv .jomentry1 .jc_comment_panel .jc_comment_panel_up a:link,
#jc_commentsDiv .jomentry1 .jc_comment_panel .jc_comment_panel_up a:visited,
#jc_commentsDiv .jomentry2 .jc_comment_panel .jc_comment_panel_up a:link,
#jc_commentsDiv .jomentry2 .jc_comment_panel .jc_comment_panel_up a:visited {
	width: 21px;
	height: 18px;
	display: block;
	cursor: pointer;
	background: transparent url(images/votings.gif) no-repeat 0 -20px;
	text-indent: -9999px;
}
#jc_commentsDiv .jomentry1 .jc_comment_panel .jc_comment_panel_up a:hover,
#jc_commentsDiv .jomentry2 .jc_comment_panel .jc_comment_panel_up a:hover {
	background: transparent url(images/votings.gif) no-repeat 0 0;
}
#jc_commentsDiv .jomentry1 .jc_comment_panel .jc_comment_panel_total,
#jc_commentsDiv .jomentry2 .jc_comment_panel .jc_comment_panel_total {
	height: 18px;
	width: 35px;
	display: block;
	color: #999999;
	text-align: center;
	font-weight: 700;
	font-size: 10px;
	line-height: 17px;
	background: transparent url(images/votings.gif) no-repeat 0 -125px;
}
.jomentry1 .jc_comment_panel .jc_comment_panel_down a:link, .jomentry1 .jc_comment_panel .jc_comment_panel_down a:visited,
.jomentry2 .jc_comment_panel .jc_comment_panel_down a:link, .jomentry2 .jc_comment_panel .jc_comment_panel_down a:visited {
	width: 19px;
	height: 18px;
	display: block;
	cursor: pointer;
	text-indent: -9999px;
	background: transparent url(images/votings.gif) no-repeat 0 -62px;
}
.jomentry1 .jc_comment_panel .jc_comment_panel_down a:hover,
.jomentry2 .jc_comment_panel .jc_comment_panel_down a:hover {
	background: transparent url(images/votings.gif) no-repeat 0 -42px;
}
.jomentry1 .jc_comment_panel .jc_comment_panel_report a:link, .jomentry1 .jc_comment_panel .jc_comment_panel_report a:visited,
.jomentry2 .jc_comment_panel .jc_comment_panel_report a:link, .jomentry2 .jc_comment_panel .jc_comment_panel_report a:visited {
	width: 20px;
	height: 18px;
	display: block;
	text-indent: -9999px;
	cursor: pointer;
	background: transparent url(images/votings.gif) no-repeat 0 -103px;
}
.jomentry2 .jc_comment_panel .jc_comment_panel_report a:hover {
	background: transparent url(images/votings.gif) no-repeat 0px -84px;
}